<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.book.mapper.UserMapper">
	
	<select id="getUser" parameterType="User" resultType="User">
	    select * from bookuser where username=#{username} and  userpwd = #{userpwd}
	</select>
	
		<insert id="insertUser" parameterType="EnrollUser">
		insert into bookuser values(seq_bookuser.nextval,#{userName},#{trueName},#{userpwd},#{city},
			#{address},#{postcode},#{cardNo},0,0.0,#{phone},#{email},1,'2')
	</insert>
	
</mapper>